@import '../../styles';

.select-component {
    background-color: transparent;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid var(--app-second-color);
    color: var(--app-second-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    letter-spacing: -1px;
    text-transform: uppercase;
    outline: 0;

    @include small() {
        font-size: 14px;
    }
}
