@import '../../styles';

.header-component {
    align-items: center;
    background-color: var(--app-main-color);
    display: flex;
    height: 60px;
    justify-content: flex-start;
    left: 0;
    padding: 16px 20px;
    position: sticky;
    top: 0;
    width: 100vw;

    > .input-header {
        margin-right: 24px;
    }

    > .types-label {
        color: var(--app-second-color);
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -1px;
        margin-right: 12px;
        margin-top: 12px;
    }
}
